<div class="container my-5">
  <h1 class="text-center mb-4">Hệ thống cửa hàng</h1>

  <div class="card shadow-lg border-0 p-4">
    <div class="card-body row">
      <div class="col">
        <h2 class="fw-bold">Cơ sở 1:</h2>
        <p>Số xx, IEC, Tứ Hiệp, Thanh Trì, Hà Nội</p>
        <p><span class="fw-bold">Hotline: </span>0944538620</p>
      </div>

      <div class="col">
        <h2 class="fw-bold">Cơ sở 2:</h2>
        <p>Số xx, Lê Thanh Nghị, Hai Bà Trưng, Hà Nội</p>
        <p><span class="fw-bold">Hotline: </span>0123456789</p>
      </div>
    </div>
  </div>
</div>