<h3 class="text-center mb-4" style="margin-top: 20px;">Thông tin đăng nhập</h3>

<form action="/login" method="POST" class="login-form">
    {{#if success}}
    <div class="alert alert-success">Đăng ký tài khoản thành công. Vui lòng đăng nhập.</div>
    {{/if}}

    <div class="mb-3 row align-items-center">
        <h6 class="col-sm-2 mb-0">
            <label for="email" class="col-form-label">Email</label>
        </h6>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" required placeholder="Email của bạn"
                value="{{email}}">
        </div>
    </div>
    <div class="mb-3 row">
        <h6 class="col-sm-2 mb-0">
            <label for="password" class="col-form-label">Mật khẩu</label>
        </h6>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" required placeholder="Mật khẩu">
        </div>
    </div>
    {{#if error}}
    <div class="alert alert-danger text-center">
        {{#if (eq error "1")}}
            Email chưa được đăng ký
        {{else if (eq error "2")}}
            Mật khẩu không chính xác
        {{else if (eq error "3")}}
            Đăng nhập thất bại
        {{/if}}
    </div>
    {{/if}}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </div>
    <p>Chưa có tài khoản? <a href="/register">Đăng ký</a></p>
</form>

<style>
    .login-form {
        margin: 20px auto;
        width: 50%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #feffef;
    }
</style>

<script>
    // Ẩn thông báo sau 5 giây
    setTimeout(() => {
        document.querySelector('.alert-success')?.remove();
    }, 5000);
</script>