<h1 class="text-center mb-4">Chào mừng bạn đến với trang quản trị</h1>

<!-- Dashboard Overview Cards -->
<div class="row">
  <div class="col-12 col-md-4 mb-4">
    <div class="card dashboard-card">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm</h5>
        <p class="card-text">Số lượng sản phẩm: {{totalProducts}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <div class="card dashboard-card">
      <div class="card-body">
        <h5 class="card-title">Đơn hàng</h5>
        <p class="card-text">Đơn hàng: {{totalOrders}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <div class="card dashboard-card">
      <div class="card-body">
        <h5 class="card-title">Người dùng</h5>
        <p class="card-text">Tổng số người dùng: {{totalUsers}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Latest Orders Table -->
<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">Thống kê</h5>
  </div>
  <div class="card-body">
    
  </div>
</div>