<div class="container my-2">
  <div class="row">
    <div class="news-info col-md-12">
      <h2 class="fw-bold">{{news.title}}</h2>
      <img
        src="{{news.image}}"
        class="img-fluid rounded"
        alt="{{news.title}}"
      />
      <p class="text-muted">{{news.content}}</p>
    </div>
  </div>
</div>